{% load static %}

<div class="flex items-center gap-4 justify-between">

    {% if post.likes.count %}
        <div class="flex items-center gap-1">
            {% if user in post.likes.all %}
            <img class="w-5 -mt-1" src="{% static 'images/fireheart_red.svg' %}" alt="fire-heart"/>
            {% else %}
            <img class="w-5 -mt-1" src="{% static 'images/fireheart.svg' %}" alt="fire-heart"/>
            {% endif %}

            {{ post.likes.count }}
        </div>
    {% endif %}

    {% if user != post.author %}
        <a class="cursor-pointer"
            hx-get="{% url 'App1_Core:like-post' post.pk %}"
            hx-target="closest div"
            hx-swap="outerHTML">

            {% if user in post.likes.all %}
                <b>Liked</b>
            {% else %}
                Like
            {% endif %}            
        </a>
    {% endif %}
</div>