<hero class="grid bg-gray-700 text-white text-center z-10 relative bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9oCJVnc7v6p5a_WVwTrJB_V3PxGuNtbWWIg&s')] bg-repeat">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-50 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-16 px-10 ">
        <h1 class="titleBlip font1">SafeConnect-Speak Up !</h1>
        <div>
            <p class="text-lg font-bold mb-5">Anonymous Domestic Violence Report And Support Platform</p>
        </div>
        {% if not user.is_authenticated %}
        <a class="button" href="{% url 'account_signup' %}">Get Started</a>
        {% endif %}
    </div>
</hero>
